@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.forwardTitle {
  display: flex;
  align-items: center;
  height: 157px;
  margin-left: 72px;

  > button {
    cursor: pointer;
  }
  > h1 {
    display: inline;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin-left: 15px;
  }
}
.container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0 50px 0 50px;
  width: 95%;
}
.registerBody {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: stretch;
  align-items: flex-start;
  min-width: 900px;
  padding: 50px;
  display: flex;
  margin: 30px 141px;
  gap: 50px;

  height: 1631px;

  border-radius: 0px;
  background: #ffffff;
  /* Nav bar shadow */

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
}

.inputBox {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: stretch;
  align-items: center;

  gap: 20px;
  width: 100%;
}

h1 {
  display: flex;
  width: 100%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  color: #000000;
}

.doubleInput {
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 50px;
  flex: 1;

  span {
    display: flex;
    margin-left: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #595959;
    flex: 1;
  }
  label {
    width: 100%;

    div {
      width: 94%;
    }

    > input {
      overflow: hidden;
      width: 103%;

      display: flex;
      flex: 1;

      height: 60px;

      text-align: center;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 24px;
      color: #595959;

      padding: 2px 2px 2px 2px;
      background-color: #ffffff;

      border: 2px solid #bcbcbc;
      border-radius: 15px;

      // @media screen and (max-device-width: 640px), screen and (max-width: 640px) {
      //   width: 100%;
      // }
    }
  }
}

.containerSelect {
  display: flex;
  flex-direction: column !important;
  align-content: flex-start !important;
  align-items: flex-start;
  flex: 1;

  margin: 0 50px 0 50px;

  width: 95%;
  label {
    margin-top: 20px;
    width: 49%;
    > span {
      display: flex;
      margin-left: 10px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #595959;
      flex: 1;
    }
    > input {
      overflow: hidden;
      width: 103%;

      display: flex;
      flex: 1;

      height: 60px;

      text-align: center;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 24px;
      color: #595959;

      padding: 2px 2px 2px 2px;
      background-color: #ffffff;

      border: 2px solid #bcbcbc;
      border-radius: 15px;
    }
  }
}

h3 {
  display: block;
  align-self: flex-start;
}

.textContainer {
  display: flex;
  flex-direction: column !important;
  align-content: flex-start !important;
  align-items: flex-start;
  flex: 1;

  width: 95%;

  textarea {
    padding: 2px 2px 2px 2px;
    background-color: #ffffff;
    width: 101%;
    height: 220px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 24px;
    color: #595959;

    border: 2px solid #bcbcbc;
    border-radius: 15px;
  }

  span {
    align-self: flex-end;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 24px;
    color: #595959;
  }
}

.imagesbox {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: stretch;
  align-items: flex-start;

  gap: 20px;
  width: 100%;
  p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    border: 0;
    color: #000000;
  }
}
.imagesContainer {
  height: 258px;
  background-color: #e4f1f9;
  padding: 20px;
  align-self: flex-start;
  flex: 1;
  margin: 0 auto;
  input {
    display: none;
  }

  .inputBody {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 45px;

    justify-content: center;
  }
}

.bottomContainer {
  display: flex;
  flex-direction: column !important;
  align-content: flex-start !important;

  flex: 1;

  width: 95%;

  span {
    display: flex;
    margin-left: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #595959;
    flex: 1;
  }

  input {
    overflow: hidden;
    width: 53%;

    height: 60px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 24px;
    color: #595959;
    padding: 2px 2px 2px 2px;
    background-color: #ffffff;
    border: 2px solid #bcbcbc;
    border-radius: 15px;
  }

  u {
    align-self: flex-end;
    flex: 0.5;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    cursor: pointer;

    text-decoration-line: underline;

    color: #000000;
  }
}

.backButton {
  flex: 1;
  > img {
    position: relative;
    left: 45px;
  }
  button {
    cursor: pointer;
    box-sizing: border-box;

    width: 192px;
    height: 60px;

    border: 1px solid #f3b917;
    border-radius: 100px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    /* Main / Yellow */

    color: #f3b917;
  }
}

.changeButton {
  flex: 0;

  button {
    cursor: pointer;
    width: 380px;
    height: 60px;

    /* Main / Yellow */

    background: #f3b917;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #ffffff;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  align-content: flex-start !important ;
  flex: 1;
  width: 95%;
  margin: 0 50px;
}

.containerTwo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;

  width: 95%;
}

.doubleInputTwo {
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 50px;
  flex: 1;
  width: 100%;
  color: #595959;
  span {
    display: flex;
    margin-left: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #595959;
    flex: 1;
  }
  label {
    width: 100%;

    > input {
      overflow: hidden;
      width: 103%;

      display: flex;
      flex: 1;

      height: 60px;

      text-align: center;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 24px;
      color: #595959;

      padding: 2px 2px 2px 2px;
      background-color: #ffffff;

      border: 2px solid #bcbcbc;
      border-radius: 15px;

      // @media screen and (max-device-width: 640px), screen and (max-width: 640px) {
      //   width: 100%;
      // }
    }
  }
}

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.2);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
